.form{
    padding: 1.5rem;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

}

.input{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;

}

.title{
    color: whitesmoke;
    display: inline-flex;
  align-items: center;
  font-size: 2.5rem;

}

.btn{
    width: 1%;
    visibility: hidden;

}